In [3]:

import numpy as np
import pandas as pd
from pandas import DataFrame, Series

#Let's make a dframe
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

#Show
dframe

   dataset1  dataset2 k1     k2
0 -1.060874  0.440486  X  alpha
1  0.894245  1.118176  X   beta
2 -1.221201  0.246948  Y  alpha
3 -0.564587  0.461816  Y   beta
4 -0.773007  0.922719  Z  alpha